:root { 
--blue_gray_200_7f:#a1adc07f; 
--light_green_A700:#70c217; 
--light_blue_400:#28aaf3; 
--red_400:#ef4358; 
--black_900:#000000; 
--deep_purple_A400:#5f36ef; 
--blue_50_01:#ecf0fd; 
--deep_purple_A100:#9a7dff; 
--blue_gray_900:#272d4e; 
--deep_purple_A200:#7854f7; 
--deep_purple_A200_01:#8161f7; 
--purple_400:#9b5c8f; 
--blue_50_00_01:#ecf0fd00; 
--blue_50_42:#e5efff42; 
--blue_gray_400:#868686; 
--blue_gray_300:#94a2b3; 
--blue_500:#289ef3; 
--blue_50_00:#e5efff00; 
--indigo_50:#d9e4f6; 
--gray_900:#222222; 
--blue_50_87:#ecf0fd87; 
--indigo_50_7f:#d7e3f87f; 
--orange_300:#ffba49; 
--blue_50:#e5efff; 
--gray_100:#f6f6f6; 
--blue_50_6d:#ecf0fd6d; 
--white_A700:#ffffff; 
}